<?php
class admin extends Vhost
{
	public function level($user)
	{
	}
	public function vCredit($user,$section,$amount=0)
	{
	}
	public function exempt($user,$promoter)
	{
	}
	public function userlist($user)
	{
	}
	public function banlist($user,$type)
	{
	}
	public function badword($user,$type,$value=NULL)
	{
	}
	public function mode($channel,$mode)
	{
	}
}
?>
