<?php
class vhost extends Vhost
{
	public function vhost($vhost)
	{
	}
	public function ident($ident)
	{
	}
	public function name($name)
	{
	}
	public function swois($swois)
	{
	}
	public function status($user)
	{
	}
}
?>
